<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <!-- Меню -->
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary">
                    <div class="d-flex position-fixed flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <span class="fs-5 d-none d-sm-inline mb-5">Меню</span>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item d-grid gap-2">
                                <a href="/" class="btn btn-dark" role="button" data-bs-toggle="button">Аккаунт</a>
                                <a href="add_client" class="btn btn-dark" role="button" data-bs-toggle="button">Добавление пользователя</a>
                                <a href="order" class="btn btn-dark" role="button" data-bs-toggle="button">Заказы</a>
                            </li>
                        </ul>
                        <hr>
                        <div class="dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="d-none d-sm-inline mx-1">Настройки</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow"disa>
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- контент -->
                <div class="col py-12 mt-3">{% block content %} {% endblock %}</div>
            </div>
        </div>
    </body>
</html>